*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build
*.eml
*.ipr
*.iws
.idea/
.idea
*.diff
.settings
logs/*
classes/*
out
gen
target
bin
